<html>
	<body>
		<p>============Créer une demande =================== <br /></p>
		<form action=/demandes method=post>
		name:<br>
		<input type=text name=description ><br>
		<input type=text name=chargeutile ><br>
		<input type=text name=choix1 ><br>
		<input type=text name=url1 ><br>
		<input type=text name=choix2 ><br>
		<input type=text name=url2 ><br>
		<input type=submit value=Submit>
		</form>
	</body>
</html>